#{stylesheet 'basic.css' /}
<h2 class="text-left">&{'Public.passwordReset.title'}</h2>
<p>&{'Public.passwordReset.description'}</p>

#{ifErrors}
    <div class="error">
        ${errors[0]}
    </div>
#{/ifErrors}

#{if (flash.get("expiredToken"))}
    <div class="error">
        &{'Public.passwordReset.validation.expiredToken'}
    </div>
#{/if}

#{if (flash.get("invalidOldPassword"))}
    <div class="error">
        &{'Public.passwordReset.validation.invalidOldPassword'}
    </div>
#{/if}

#{if (flash.get("passwordUsedInThePast"))}
    <div class="error">
        &{'Public.passwordReset.validation.passwordUsedInThePast', models.Constants.User.MAX_OLD_PASSWORDS_STORED}
    </div>
#{/if}

#{if !session.username }

    #{form @processPasswordReset(), method:'POST'}
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" placeholder="&{'Public.register.password', models.Constants.User.MIN_PASSWORD_LENGTH}"
                       name="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" placeholder="&{'Public.register.passwordCheck'}"
                       name="passwordCheck" />
            </div>
        </div>
        #{if token == null}
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input class="form-control" type="text" autocomplete="off" placeholder="Activation code"
                       name="token" value="${token}" />
            </div>
        </div>
        #{/if}
        #{else}
            <input type="hidden" autocomplete="off" name="token" value="${token}" />
        #{/else}

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-actions">
                    <button type="submit" class="btn-bezel btn-primary pull-right">
                        &{'Public.passwordReset.button'} <i class="material-icons">forward</i>
                    </button>
                </div>
            </div>
        </div>
    #{/form}

#{/if}
#{else}

    #{form @processPasswordResetUserAuth(), method:'POST'}
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" placeholder="&{'Public.register.oldPassword'}"
                       name="oldPassword" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" placeholder="&{'Public.register.password', models.Constants.User.MIN_PASSWORD_LENGTH}"
                       name="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control" type="password" autocomplete="off" placeholder="&{'Public.register.passwordCheck'}"
                       name="passwordCheck" />
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-actions">
                    <button type="submit" class="btn-bezel btn-primary pull-right">
                        &{'Public.passwordReset.button'} <i class="material-icons">forward</i>
                    </button>
                </div>
            </div>
        </div>
    #{/form}

#{/else}
