#{extends 'DarwinMailer/mailLayout.html' /}
#{set 'subject'}Registro#{/set}

<h3>Hola ${email},</h3>
<p>Nos ponemos en contacto contigo para comunicarte que has sido invitado a utilizar ${appName}</p>
<p>Para registrat tu cuenta pincha en el siguiente enlace. Este enlace será válido durante 24h.</p>
<a href="${baseUrl}/register/${token}/${email}" target="_blank" style="text-align:center;">Pincha aquí para registrarte</a></p>
<p>Si tienes problemas para registrar tu cuenta pincha en <a href="${baseUrl}/register/${token}/${email}">${baseUrl}/register</a> y escribe el código de activación:</p>
<p>${token}</p>
<p>Saludos.<br/>El equipo de ${appName}.</p>


